# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# VSCode settings
.vscode

#Intelli thingy
.idea

#Config
config/config.ts